/*-----------Left panel--------------*/

html {
  height: 100%;
}

body {

	background-color: silver;
	height: 100%;
}

.full-height {

	height: 100%;
}

#page-title {

	text-align:center;
	margin-top: 0.5%;
	margin-bottom: -0.6%;
	color: DarkSlateGray;
}

#level-1-container {

	margin-top: 1.5%;
	background-color: #262626;
	color:lightgrey;
  	height: 100%;
}

#category-filter-title {

	background-color: #262626;
	border-top: none;
}

#category-filter li {

	color: #e6e6e6;
	font-family: "Arial", Times, serif;
	border-color: #333333;
	border-left: none;
	border-right: none;
	border-width: 1.5px;
}

#category-filter li:not(#category-filter-title), .event-checkbox {

	background-color: #404040;
}

#category-filter h6 {

	font-weight: bold;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 6%;
}

input checkbox {

	cursor: pointer;
}

.article_category label {

	cursor: pointer;
}

/*-----------Middle panel--------------*/

#scatterplot {

	background-color: white;
}

#canvas {

	fill: #f2f2f2;
}

.axis--grid .domain {

	fill: #ddd;
	stroke: none;
}

.axis--x .domain, .axis--grid .tick line {

	stroke: #fff;
}

.axis--grid .tick--minor line {

	stroke-opacity: .5;
}

text {

	fill: grey;
	font-size: 4.5px;
	text-anchor: middle;
}

circle {

	stroke: grey;
	stroke-width: 0.2;
	cursor: pointer;
}

circle:not(.article-selected) {
	
	opacity: 0.3;
}

.article-selected {

	opacity: 2.0;
}

.zoom {

	cursor: move;
	pointer-events: all;
}

div.tooltip {

	/*text-align: center;*/
	padding: 2px;
	font-size: 10px;
	color: white;
	background: grey;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

div.tooltip > div {

	text-align: center;
}

/*------------Right panel---------------*/

#event-filter-title {

	background-color: #262626;
	border-top: none;
	color: #e6e6e6;
	font-family: "Arial", Times, serif;
	border-color: #333333;
}

#event-filter-title h6 {

	font-weight: bold;
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
}

#selected-events-jumb {

	background-color: #b3b3b3;
	height: 15%;
}

.scrollable {

	max-height: 250px;
	overflow-y: scroll;
}

.event-checkbox {

	font-family: "Arial", Times, serif;
	font-size: 14px;
	border: none;
	word-wrap: normal;
}

.inline-field input, .inline-field label {

	display: block;
	vertical-align: middle;
}

.inline-field label {

	margin-left: 10px;
}

.inline-field input {

	margin-top: 5px;
	margin-left: -10px;
	float:left;
}

.badge {

	opacity: 0.8;
}

.fa-times { 
	cursor: pointer; 
}

.card { 
	
	background-color: #404040;
	border-width: 1.5px;
	border-color: #333333;
}

.card button {

	color: #e6e6e6;
}

.card button:hover {

	color:black;
}