html {

  height: 100%;
  width: 100%;
}

body {

	background-color: #262626;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.full-height {

	height: 100%;
}

.full-width {

	width: 100%;
}

.hyphenated {

	word-wrap: break-word;
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

#page-title {

	background-color: silver;
	color: DarkSlateGray;
}

#level-1-container {

	/*background-color: #262626;*/
	color: lightgrey;
	padding: 0px;
	width: 100%;
}

/*-----------Left panel--------------*/

#open-left-panel-btn {

	float: left;
}

/*Collapsible*/
#left-panel {

	height: 100%;
	width: 0px;
	position: absolute;
	z-index: 1; /* Sit on top */
	background-color: rgb(0,0,0); /* Black fallback color */
	background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
	overflow-x: hidden;
	/*transition: 0.5s;*/
}

#left-panel-content {
	
	text-align: center;
	position: absolute;
}


/*When the height of the screen is less than 450 pixels, change the 
font-size, so the contents don't overlap
@media screen and (max-height: 450px) {

	  .left-panel {
	    font-size: 40px;
	    top: 15px;
	    right: 35px;
	}
}*/


#article-search .btn {

	fill: #FFFFFF;
	background-color: #404040;
	color: white;
}

#article-search h6, #event-filter-title h6, #list-top-articles h6 {

	font-weight: bold;
	/*margin-top: 3%;*/
	/*margin-bottom: 3%;*/
	text-align: center;
}

#article-search-title, #list-top-articles-title {

	background-color: #262626;
	border-top: none;
}


#article-search li, #list-top-articles li {

	color: #e6e6e6;
	font-family: "Arial", Times, serif;
	border-color: #333333;
	border-left: none;
	border-right: none;
	border-width: 1.5px;
}

.event-checkbox {

	background-color: #404040;
}

input checkbox {

	cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {

    width: 12px;
}
 
::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 6px white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {

    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px white; 
}

#event-filter-title {

	background-color: #262626;
	border-top: none;
	color: #e6e6e6;
	font-family: "Arial", Times, serif;
	border-color: #333333;
}

#selected-events-jumb {

	background-color: #b3b3b3;
	min-height: 100px;
}

.accordion {

	overflow-y: auto;
}

.card-body .scrollable {

	max-height: 250px;
	overflow-y: auto;
}

.event-checkbox {

	font-family: "Arial", Times, serif;
	font-size: 14px;
	border: none;
	word-wrap: normal;
}

.inline-field input, .inline-field label {

	display: block;
	vertical-align: middle;
}

.inline-field label {

	margin-left: 10px;
	cursor: pointer;
}

.inline-field input {

	margin-top: 5px;
	margin-left: -10px;
	float:left;
}

.badge {

	opacity: 0.8;
	float: left;
	word-wrap: normal;
	overflow-wrap: normal;
}

.fa-times {

	cursor: pointer; 
}

.card-header h6 {

	word-wrap: normal;
}

.card { 
	
	background-color: #404040;
	border-width: 1.5px;
	border-color: #333333;
}

.card button {

	color: #e6e6e6;
}

.card button:hover {

	color: grey;
}

/*-----------Middle panel--------------*/

#scatterplot {

	background-color: white;
}

#canvas {

	fill: #f2f2f2;
}

.axis--grid .domain {

	fill: #ddd;
	stroke: none;
}

.axis--x .domain, .axis--grid .tick line {

	stroke: #fff;
}

.axis--grid .tick--minor line {

	stroke-opacity: .5;
}

text {

	fill: #484747;
	font-size: 4.5px;
	text-anchor: middle;
}

circle {

	stroke: #484747;
	stroke-width: 0.2;
	cursor: pointer;
}

/*circle:not(.article-selected) {
	
	opacity: 0.3;
}

.article-selected {

	opacity: 2.0;
}*/


/*TODO Remove*/
/*.zoom {

	cursor: move;
	pointer-events: all;
}*/

div.tooltip {

	padding: 2px;
	font-size: 10px;
	color: white;
	background: grey;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

div.tooltip > div {

	text-align: center;
}

/*------------Right panel---------------*/


#list-top-articles li:not(#list-top-articles-title){

	background-color: #404040;
}

.article-li {

	width: 100%
}

li.article-li:hover span {

	color: grey;
	cursor: pointer;
}

#list-top-articles, #list-top-articles .scrollable {

	width: 100%;
	max-height: 425px;  /* TODO Find a way to make it %*/
	overflow-y: auto;
}

#article-summary {

	padding-top: 5%;
	padding-left: 5%;
	width: 95%;
	max-height: 50%;
	word-wrap: normal;
	overflow-y: auto;
}

#article-summary div {

	text-align: center;
}

#article-summary a:link, #article-summary a:visited { 

	color: Goldenrod;
}